<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="footer-inner" style="color: rgb(212, 212, 212); font-size: small;">
          “Yale” and “Yale University” are registered trademarks of Yale University.  This website is a student run website and is maintained, hosted, and operated independently of Yale University.  The activities on this website are not supervised or endorsed by Yale and information contained on this website does not necessarily reflect the opinions or official positions of the University.
        </div>
      </div>
    </div>
  </div>
</div>