{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-contact{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}
<div class="intro intro-small">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>{{ .Title }}</h1>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12 col-md-8">
      {{ .Content }}
      <ul>
        <!-- <li><strong>Phone: </strong>{{ .Site.Data.contact.phone }}</li> -->
        <li><strong>Email: </strong><a href="mailto:{{ .Site.Data.contact.email }}">
            {{ .Site.Data.contact.email }}</a></li>
        {{ if .Site.Data.contact.address }}
        <li><strong>Address: </strong>{{ .Site.Data.contact.address }}</li>
        {{ end }}
      </ul>
    </div>
  </div>
</div>

<div class="container" style="padding-top: 40px; padding-bottom: 20px;">
  <strong>Or, fill out the form below:</strong>
</div>

<div class="container">
  <form action="{{ .Site.Data.contact.action }}" method="POST">
    <div class="row">
      <div class="col-12 col-lg-6 col-md-6">
        <div class="form-group">
          <label>Name</label>
          <input type="text" name="Name" class="form-control" placeholder="Name">
        </div>
      </div>
      <div class="col-12 col-lg-6 col-md-6">
        <div class="form-group">
          <label>Email</label>
          <input type="email" name="Email" class="form-control" placeholder="Email">
        </div>
      </div>
  
      <div class="col-12">
        <div class="form-group">
          <label>Message</label>
          <textarea placeholder="Message" name="Message" rows="5" class="form-control"></textarea>
        </div>
      </div>
  
      <div class="col-12">
          <button type="submit" class="button">Submit</button>
      </div>
    </div>
  </form>
</div>
{{ end }}